<div class="form-input{{#if mod}} {{mod}}{{/if}}">
  <textarea id="{{id}}" name="{{name}}" autocomplete="off" placeholder="{{ placeholder }}"
    {{#if validation}} data-validation="{{validation}}"{{/if}}></textarea>
  <span class="form-input__bar"></span>
  <label class="form-input__label" for="{{id}}">{{label}}</label>
</div>
